body {background-color: beige;
      margin: 15px;
      text-align: center;
} 


h1 {font-family: cursive;
                color: goldenrod;
                background-color:darkred;
                border-color: black;
                text-align: center;
                text-decoration: underline;
                border: 2px solid gold;
                font-size: 60px;
                width: 600px;
                display: block;
     margin-left: auto;
     margin-right: auto;
              
        }


a {font-family: serif;
    font-size: 20px;
    color: goldenrod;
    background-color: beige;
    
}


button {
    width: 150px;
    margin-right: 10px;
    padding: 5px;
    background-color:palegoldenrod;
    cursor: pointer;
    transition-duration: 0.4s;
    
        
    
}
button:hover  {
    background-color: black;
    transition-delay: 0.4s;
     
}



img {display: block;
     margin-left: auto;
     margin-right: auto;}


}

     }


